#root {
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100vw;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; 
  font-family: Arial, sans-serif;
  overflow-y: auto;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 3px 20px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  z-index: 100;
}

.nav-links {
  display: flex;
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: 50;
}

nav a:hover {
  color: #05339C; 
}

.logo {
  color: #05339C; 
}

