
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  .info-block {
    text-align: center;
    padding: 40px;
    border-radius: 30px;
    background-color: #fe7b7c;
    color: white;
  }
  
  .form-container {
    text-align: center;
    padding: 40px;
    min-width: 250px;
  }
  
  .toggle-container {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  button {
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    background-color: #fe7b7c;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  button:hover {
    background-color: #fc5b5c;
  }
  
  input {
    padding: 8px;
    width: 80%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  p {
    margin: 5px 0;
  }
  
  * { box-sizing: border-box; }
html, body {   height: 100%; }
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
}

.toggle-checkbox {
  width: 200px;
  height: 50px;
  input#status {
    display: none;
    + label {
      height: 100%;
      width: 100%;
      > .status-switch {
        cursor: pointer;
        width: 100%;
        height: 100%;
        position: relative;
        background-color: #fafafa;
        color: grey;
        transition: all 0.5s ease;
        padding: 3px;
        border-radius: 3px;

        &:before,
        &:after {
          border-radius: 2px;
          height: calc(100% - 6px);
          width: calc(50% - 3px);
          display: flex;
          align-items: center;
          position: absolute;
          justify-content: center;
          transition: all 0.3s ease;
        }
      
        &:before {
          background-color: #fe7b7c;
          color: white;
          box-shadow: 0 0 4px 4px rgba(#000, 0.2);
          left: 3px;
          z-index: 10;
          content: attr(data-unchecked);
        }
        
        &:after {
          right: 0;
          content: attr(data-checked);
        }
      }
    }

   
    &:checked + label > .status-switch {
      background-color: #fafafa;
 
      &:after {
        left: 0;
        content: attr(data-unchecked);
      }
 
      &:before {
        color: white;
        left: 50%;
        content: attr(data-checked);
      }
    }
  }
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 3px 20px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: 50;
}

nav a:hover {
  color: #fe7b7c; 
}

.logo {
  color: #fe7b7c; 
}
