
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  .info-block {
    text-align: center;
    padding: 40px;
    border-radius: 30px;
    background-color: #fe7b7c;
    color: white;
  }
  
  .form-container {
    text-align: center;
    padding: 40px;
    min-width: 250px;
  }
  
  .toggle-container {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  button {
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    background-color: #fe7b7c;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  button:hover {
    background-color: #fc5b5c;
  }
  
  input {
    padding: 8px;
    width: 80%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  p {
    margin: 5px 0;
  }
  