
.profile-container {
    height: calc(60vh - 60px); 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding-top: 60px; 
    box-sizing: border-box;
    position: fixed;
    top: 60px;
  }
    
    .picture-block {
      text-align: center;
      padding: 40px;
      border-radius: 30px;
      background-color: #fe7b7c;
      color: white;
    }
    
    .details-container {
      text-align: center;
      padding: 40px;
      min-width: 250px;
    }
    

  body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  button {
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    background-color: #fe7b7c;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  button:hover {
    background-color: #fc5b5c;
  }
  
  .settings, .stats{
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }



  

  