
.full-container {
  height: calc(100vh - 60px); 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding-top: 250px; 
  box-sizing: border-box;
}

.profile-container {
    height: calc(60vh - 60px); 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding-top: 60px; 
    box-sizing: border-box;
    position: fixed;
    top: 60px;
    left: 40vh;
  }
    
    .picture-block {
      text-align: center;
      padding: 40px;
      border-radius: 100px;
    }

    .profile-picture {
      width: 200px;    
      height: 200px;
      border-radius: 50%; 
      object-fit: cover;
    }
    
    .details-container {
      text-align: left;
      padding: 40px;
      min-width: 250px;
    }
    

  body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  button {
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    background-color: #00008B;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  button:hover {
    background-color: #00008B;
    color: white;
  }
   
  .settings, .stats{
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: left;
  }



  

  