
.full-container {
  height: calc(100vh - 60px); 
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
  padding-top: 60px; 
  box-sizing: border-box;
  flex-direction: column;
  z-index: 1;
}

.profile-container {
  height: auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px; 
  box-sizing: border-box;
  position: relative;
  margin-bottom: 0px; 
}

    
    .picture-block {
      text-align: center;
      padding: 40px;
      border-radius: 100px;
    }

    .profile-picture {
      width: 200px;    
      height: 200px;
      border-radius: 50%; 
      object-fit: cover;
    }
    
    .details-container {
      text-align: left;
      padding: 40px;
      min-width: 250px;
    }
    

  body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  button {
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    background-color: #05339C;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  button:hover {
    background-color: #05339C;
    color: white;
  }
   
  .settings, .stats{
    margin: 10px 0;
    display: flex;
    align-items: left;
    justify-content: left;
    gap: 10px;
    text-align: left;
  }

  .likes{
    align-items: left;
    justify-content: left;
    text-align: left;
    padding: 0;
  }

  .recipes{
    align-items: left;
    justify-content: left;
    text-align: left;
    padding: 0;
    position: relative;
  }

  .toggle {
    width: 200px;
  height: 50px;
  margin: 0 auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
    input#status {
      display: none;
      + label {
        height: 100%;
        width: 100%;
        > .status-switch {
          cursor: pointer;
          width: 100%;
          height: 100%;
          position: relative;
          background-color: #fafafa;
          color: grey;
          transition: all 0.5s ease;
          padding: 3px;
          border-radius: 3px;
  
          &:before,
          &:after {
            border-radius: 2px;
            height: calc(100% - 6px);
            width: calc(50% - 3px);
            display: flex;
            align-items: center;
            position: absolute;
            justify-content: center;
            transition: all 0.3s ease;
          }
        
          &:before {
            background-color: #05339C;
            color: white;
            box-shadow: 0 0 4px 4px rgba(#000, 0.2);
            left: 3px;
            z-index: 10;
            content: attr(data-unchecked);
          }
          
          &:after {
            right: 0;
            content: attr(data-checked);
          }
        }
      }
  
     
      &:checked + label > .status-switch {
        background-color: #fafafa;
   
        &:after {
          left: 0;
          content: attr(data-unchecked);
        }
   
        &:before {
          color: white;
          left: 50%;
          content: attr(data-checked);
        }
      }
    }
  }

  .recipe-list {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .grid {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }
  

  .grid li {
    flex: 0 0 25%;  
    display: flex;
    justify-content: center;
  }

  .content {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 15vw; 
    height: 320px;
    border-radius: 10px;
    padding: 0px;
  }
  
  .cover-picture {
    width: 15vw; 
    height: 200px; 
    border-radius: 10px;
    object-fit: cover;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
  }


  

  