
.full-container {
  height: calc(100vh - 60px); 
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  padding-top: 0px; 
  box-sizing: border-box;
  flex-direction: column;
  z-index: 1;
}

.profile-container {
  height: auto; 
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 60px; 
  box-sizing: border-box;
  position: relative;
  margin-bottom: 0px; 
  margin-left: 70px
}

    
    .picture-block {
      text-align: center;
      padding: 40px;
      border-radius: 100px;
    }

    .profile-picture {
      width: 200px;    
      height: 200px;
      border-radius: 50%; 
      object-fit: cover;
    }
    
    .details-container {
      text-align: left;
      padding: 40px;
      min-width: 250px;
    }
    

  body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  button {
    padding: 10px 20px;
    border-radius: 6px;
    background-color: #05339C;
    cursor: pointer;
    outline: 1px solid #D3D3D3;
  }

  button h5 {
    margin: 0;   
    color: #555555;
  }
  
  button:hover h5 {
    color: white;
    background-color: #05339C;
  }
   
  .settings, .stats{
    margin: 10px 0;
    display: flex;
    align-items: left;
    justify-content: left;
    gap: 10px;
    text-align: left;
  }

  .recipes, .likes{
    align-items: left;
    justify-content: left;
    text-align: left;
    padding: 0;
    margin: 0;
  }

  .recipes h2, .recipes h5, .likes h2, .likes h5 {
    margin: 0; 
  }

  .toggle {
    width: 300px;
  height: 50px;
  margin-left: 70px; 
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  top: 0;
    input#status {
      display: none;
      + label {
        height: 100%;
        width: 100%;
        > .status-switch {
          cursor: pointer;
          width: 100%;
          height: 100%;
          position: relative;
          color: #05339C;
          transition: all 0.5s ease;
          padding: 3px;
          border-radius: 3px;
          display: flex;        
          justify-content: space-between; 
          align-items: center;
          padding: 0 30px;
          

          .status-switch span {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #05339C;
            z-index: 2; 
            text-align: center;
            width: 50%;
          }
          
          .status-switch::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 50%;
            height: 2px;
            background-color: #05339C;
            transition: left 0.3s ease;
          }
    
          input#status:checked + label .status-switch::before {
            left: 50%;
          }
  
          &:before,
          &:after {
            border-radius: 2px;
            height: calc(100% - 6px);
            width: calc(50% - 3px);
            display: flex;
            align-items: center;
            position: absolute;
            justify-content: center;
            transition: all 0.3s ease;
          }
        
          &:before {
            color:#05339C;
            box-shadow: 0 0 4px 4px rgba(#000, 0.2);
            left: 3px;
            z-index: 10;
            content: attr(data-unchecked);
            border-bottom: 2px solid #05339C;
          }

          
          &:after {
            right: 0;
            content: attr(data-checked);
            border-bottom: 2px solid transparent;
          }
        }
      }
  
     
      &:checked + label > .status-switch {

        &:after {
          left: 0;
          content: attr(data-unchecked);
        }
   
        &:before {
          color: #05339C;
          left: 50%;
          content: attr(data-checked);
        }
      }
    }
  }

  .recipe-list {
    width: 100vw;
    padding: 20px 5px;
    box-sizing: border-box;
  }
  
  .grid {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }
  

  .grid li {
    flex: 1 0 21%;  
    display: flex;
    justify-content: center;
  }

  .content {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 20vw; 
    height: 320px;
    border-radius: 10px;
    padding: 0px;
  }
  
  .cover-picture {
    width: 20vw; 
    height: 200px; 
    border-radius: 10px;
    object-fit: cover;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
  }


  

  